language: go

go:
  - "1.13.x"
  - "1.14.x"
  - "1.15.x"
  - master

before_install:
  - go get github.com/mitchellh/gox

before_deploy:
  - go get github.com/tcnksm/ghr

script: |
  make all
  go test -v ./...

deploy:
  - provider: script
    script: ./deploy.sh
    skip_cleanup: true
    on:
      go: "1.14.x"
      tags: true
