language: go

go:
  - "1.3.x"
  - master

before_install:
  - go get github.com/mitchellh/gox

before_deploy:
  - go get github.com/tcnksm/ghr

script: make all

deploy:
  - provider: script
    script: ./deploy.sh
    skip_cleanup: true
    on:
      go: "1.13"
      tags: true
